* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  margin-bottom: 20vh;
  width: 33%;
  height: 20%;
  text-align: center;
}
p {
  font-size: 0.75rem;
}
h1 {
  font-size: 4rem;
}
